.news {
  border-bottom: 1px solid #eee;
  padding: 16px 12px;
}

.tools {
  margin: 4px auto;
}

.tools a {
  margin: auto 4px;
  margin-top:10px;
}

.panel ul {
  list-style-type: square;
}

.btn-newfeed {
  width: 100%;
  display: block;
  margin: 0;
  padding: 6px 4px;
  font-weight: 800;
  font-size: 14px;
  cursor: pointer;
}

.btn-newfeed:hover {
  color: blue;
}

 #editor {overflow:scroll; max-height:300px}
