/*home-page*/
*{
	margin: 0;
	padding: 0;
}
body{
	font-family: arial;
	font-size: 13px;
	color: #333;
}

header{
	margin-top: 10px;
	margin-bottom: 10px;
}
a{
	color: #14928e;
}
#log-in>a{
	color: #14928e;
}

.nav{
	background-color: #14928e;
	height: 40px;
}
.navbar{
	min-height: 40px !important;
	height: 40px;
}
.navbar-nav>li>a{
	color: #ffffff;
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}
.navbar-brand{
	padding: 10px 10px !important;
	height: 40px !important;
}
.navbar-collapse.collapse{
	height: 40px !important;
}
.navbar-form{
	margin-top: 4px !important;
}

.navbar-toggle .icon-bar{
	background: #ffffff;
}

.nav>li>a:focus, .nav>li>a:hover {
	background-color: #34495e !important;
}

#myCarousel{
	margin-top: 10px;
}
#gioithieu{
	margin-top: 10px
}

.danhmuc{
	border:1px solid #14928e;
}
.dethi{
	margin-left: 10px;
}
ul li{
	list-style-type: none;
}
.footerbar{
	height: 50px;
	background-color:#14928e;
}
h4{
	line-height: 1.5;
}
footer{
	margin-top: 20px;
	height: 200px;
	background-color:#f1f1f1;
}
.contact{
	margin-left: 15px;
}

.checkbox label, .radio label {
	color: #888;
}
.modal-header{
   	background: #14928e;
}

.modal-dialog{
	height: 260px !important;
	width: 400px !important;
}
.btn-info{
  	background: #14928e !important;
}
.modal-body{
	margin-left: 10px;
}
.modal-footer{
	border: none;
	margin-right: 40px;
}
h4.title-header{
	background-color: #14928e;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #ffffff;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	margin-top: 0;
}
div.col-md-4.gioithieu{
	border: 1px solid #14928e;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}
p.introduce-content{
	margin-left: 5px;
	height: 170px;
}
div.container.news-content{
	margin-top: 20px;
}
hr{
 border-color: #14928e !important;
}
.table>tr>td{
	padding-right:10px;
}
.table{
	margin-top: 0px;
}
/*login-page*/
.body-login{
	background: url("/assets/images/photo_bg.jpg") no-repeat center center fixed;
	background-size: cover;
}

.container>.col-centered{
    float: none;
    margin: 0 auto;
}
.login-box.title-box{
	text-align: center !important;
	color: #14928e;
}
.login-box-input{
	margin-left: 130px !important;
	line-height: 30px;
	padding-left: 10px;
	padding-right: 10px;
}
.login-box.wrap{
	margin-top: 30px;
	border: 1px solid #14928e;
	border-radius: 5px;
	padding-bottom: 40px;
	background-color: #f1f1f1;
}
.dangnhap{
	background-color: #14928e;
	padding-top: 10px;
	margin-top: 0;
	padding-bottom: 10px;
	color: #ffffff;
}
.box-submit{
	margin-left: 170px;
}
.box-login-middle{
	margin-top: 100px;
}