* {
  margin: 0;
  padding: 0;
}

html {
  width: 100% !important;
}

body {
  background: white;
}

a {
  color: #2980b9;
  text-decoration: none;
}
/*nav header*/
#logo {
  font-size: 24px;
  font-weight: 800;
  color: #fff;
}

nav.header {
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #222;
  min-height: 45px;
  line-height: 45px;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  vertical-align: top;
  z-index: 10;
  border-bottom: 1px solid #111;
}

.nav-left, .nav-right {
  display: block;
}

.nav-left {
  padding: 0 36px;
  float: left;
}

.nav-right {
  float: right;
}

.nav-right ul {
  margin: 0;
  padding: 0;
}

.nav-right li {
  margin: 0;
  color: white;
  list-style: none;
  float: left;
  border-right: 1px solid black;
  cursor: pointer;
}

.nav-right li:first-child {
  border-left: 1px solid black;
}

.nav-right a {
  padding: 0 12px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  color: inherit;
}

.nav-right .active {
  color: #f1c40f;
  /*pointer-events: none;*/
}

.nav-right li:hover {
  background: #34495e;
}

.nav-right li a:active {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.nav-left > img {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.li-end {
  width: 20px;
  border: none;
}
/*end nav*/
.container {
  margin-top: 45px;
  text-align: center;
  font-size: 24px;
  font-weight: 900;
  z-index: 1;
}
